<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>MyDaw Config</Name>
    <Version>2.5</Version>
    <Title>MyDaw Config 2.5 Installer</Title>
    <Publisher>SineForge</Publisher>
    <ProductUrl>https://github.com/yourusername/mydaw-config</ProductUrl>
    <StartMenuDir>SineForge</StartMenuDir>
    <TargetDir>@HomeDir@/ReaperMyDaw</TargetDir>
    <AdminTargetDir>@ApplicationsDir@/MyDaw</AdminTargetDir>
    <AllowSpaceInPath>true</AllowSpaceInPath>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <WizardStyle>Mac</WizardStyle>
    <StyleSheet>installer.qss</StyleSheet>
    <TitleColor>#FF5733</TitleColor>
    <RunProgram>@TargetDir@/reaper</RunProgram>
	<ControlScript>controller.qs</ControlScript>
    <RunProgramDescription>Launch REAPER</RunProgramDescription>
	<SupportsModify>false</SupportsModify>
	<MaintenanceToolName>Uninstall</MaintenanceToolName>
</Installer>