QWidget {
    background-color: #a8a8a8;
    color: black;
}

QPushButton {
    background: #55def7;
    border-color: rgb(60, 60, 60);
    border-style: solid;
    border-width: 2px;
    border-radius: 9px;
    min-height: 20px;
    max-height: 20px;
    min-width: 68px;
    max-width: 75px;
    padding-left: 5px;
    padding-right: 5px;
}

QPushButton:hover {
    background-color: #55d3f7;
}


