name: Build macOS Universal Installer
on: release
jobs:
  build-installer:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Qt Installer Framework
        uses: jmarrec/setup-qtifw@v1
        with:
          qtifw-version: '4.6.1'
      
      - name: Build Installer # Create .app bundl
        run: |
          binarycreator --offline-only -p mydaw-installer/packages_mac -c mydaw-installer/config/config.xml MyDaw-Macos.app
      
      - name: Create ZIP with .app as top-level
        run: |
          ditto -c -k --sequesterRsrc --keepParent MyDaw-Macos.app MyDaw-Macos.zip
      
      - name: Upload Installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: MyDaw-Macos
          path: MyDaw-Macos.zip
          compression-level: 0